{% extends "base.html" %}
{% block contenido %}
    <div class="item">
        <div class="serviceBox">
            <div class="service-icon"><i class="fa fa-h-square" aria-hidden="true"></i></div>
            <h3 class="title">Búsqueda por País</h3>
            <p class="description">
                Pulsa el botón buscar para buscar las estadisticas del COVID-19 por nombre de paises.
            </p>
            <a href="/buscar_pais" class="new-btn-d br-2">Buscar</a>
        </div>
    </div>
    <div class="item">
        <div class="serviceBox">
            <div class="service-icon"><i class="fa fa-h-square" aria-hidden="true"></i></div>
            <h3 class="title">Búsqueda Por Continente</h3>
            <p class="description">
                Pulsa el botón buscar para buscar las estadísticas del COVID-19 por nombre de Continentes.
            </p>
            <a href="/buscar_continente" class="new-btn-d br-2">Buscar</a>
        </div>
    </div>
    <div class="item">
        <div class="serviceBox">
            <div class="service-icon"><i class="fa fa-h-square" aria-hidden="true"></i></div>
            <h3 class="title">Búqueda Por Iniciales</h3>
            <p class="description">
                Pulsa el botón buscar para buscar las estadísticas del COVID-19 por inicales de Pais.
            </p>
            <a href="#" class="new-btn-d br-2">Buscar</a>
        </div>
    </div>
{% endblock %}